html {
    background: url(../images/background.jpg) no-repeat center center fixed;
    background-size: 100vw 100vh;
}

.profile-box{
    position:relative;
    width: 650px;
    height: 650px;
    background-color: rgba(0,0,0,0.8);
    padding: 40px;
    color: white;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.profile-pic {
border-radius:50%;
height: 200px;
width: 200px;
border-style: solid;
border-color: white;
border-width: 6px;
border-radius:50%;
}
.header1 {
    font-weight: 100;
    letter-spacing: 6;
    font-size: 100px;

}

h1 {
    font-weight: 100;
    letter-spacing: 6;
    font-size: 40px;

}

h2 {
    font-weight: 100;
    letter-spacing: 1;
    font-size:24px
}
.line-break1{
    width: 500px;
    margin:0 auto;
    border-top: 1px solid white
}

.line-break{
    width:140px;
    margin:0 auto;
    border-top: 1px solid white
}
/* .line-break3{
    width:300px;
    margin:0 auto;
    border-top: 1px solid white
} */

p{
font-size:18px

}

.paragraph1{
    font-size:50px
}



.tile{
    position:relative;
    margin-top: 180px;
   
}

.contact-box{
    width: 600px;
    height: 600px;
    background-color: rgba(0,0,0,0.8);
    padding: 40px;
    color: white;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.social-icons{
    font-size:50px;

}
.social-icons a{
    color:white;

}
.project-icons2{
    font-size:50px;
}
.project-icons2 a{
    color:white;

}
.project-icons2 a:hover{
    color: grey
}

.social-icons a:hover{
    color: grey
}
.project-icons1 a:hover{
    color:grey
}

.project-box {
   width: 1200px;
    height: 1000px;
    background-color: rgba(0,0,0,0.8);
    padding: 40px;
    color: white;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center; 
}

.project1-pic{
    position:relative;
    border-style: solid;
border-color: white;
}

.project-icons1{
    font-size:50px;
    
}
.project-icons1 a{
    color:white;

}
.project-icons3{
    font-size:50px;
}
.project-icons3 a{
    color:white
}



.work {
    text-align: center;
    width: 100%;
}

.work img {
    margin: 1%;
    width: 45%;
}

.project2{
    text-align: center;
    font-weight: 100;
    letter-spacing: 6;
    font-size: 80px;
    color:white


}